<app-loading *ngIf="isLoading"></app-loading>
<div nz-row *ngIf="!isLoading">
  <div nz-col nzXz="24" nzSm="24" nzMd="12" nzLg="6">
    <app-about [introduction]="introduction"></app-about>
  </div>
  <div nz-col nzXz="24" nzSm="24" nzMd="12" nzLg="18">
    <div nz-row>
      <div nz-col nzXz="24" nzSm="24" nzMd="24" nzLg="12">
        <app-education [dataSet]="dataSet.educations"></app-education>
        <app-certification [dataSet]="dataSet.certifications"></app-certification>
      </div>
      <div nz-col nzXz="24" nzSm="24" nzMd="24" nzLg="12">
        <app-experience [dataSet]="dataSet.experiences"></app-experience>
      </div>
      <div nz-col nzSpan="24">
        <app-skill [dataSet]="dataSet.skills"></app-skill>
      </div>
      <div nz-col nzSpan="24">
        <app-profile [introduction]="introduction"></app-profile>
      </div>
    </div>
  </div>
</div>